# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json
[firebase.json
firepit-log.txt
# Android related
*.apk
*.aar
*.aab
local.properties
# iOS related
Pods/
*.xcworkspace
*.xcuserstate
*.xcuserdatad
*.xcsettings
*.xcodeproj
*.xcconfig
# macOS related
*.xcworkspace
*.xcuserstate
*.xcuserdatad
*.xcsettings
*.xcodeproj
*.xcconfig
# Web related
lib/generated_plugin_registrant.dart
# Windows related
windows/runner/
# Linux related
linux/runner/
# VS Code
.vscode/
# Test outputs
reports/
# Ignore asset outputs
flutter_assets/
# Ignore native assets
native_assets/
native_hooks/
# Ignore ephemeral files
**/ephemeral/

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
